<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
          <h1>Movies for the year <%= year %></h1>
          <h2>Diagram</h2>
          <div id="chart">
            <!-- Hier wird die C3JS Chart generiert. Dazu werden die erhaltenen
                 JSON Daten in das von C3JS erwartete Format umgewandelt. Diese
                 Umwandlung findet hier statt, da die direke Generierung der Daten
                 durch MongoDB Aggregation nicht die gewünschten Ergebnisse lieferte.
                 Die einzelnen columns-Einträge wurden mit "Objects" befüllt, die
                 für die weitere Verarbeitung nicht verwendet werden können. -->
            <script>
              var chart = c3.generate(
                {
                  bindto: '#chart',
                  data:
                  {
                    columns: [
                          [ 'Count',
                            <% stats.forEach(function(stat) { %>
                              <%= stat.count %>,
                            <% }); %>
                          ]
                    ],
                    type: 'bar',
                    labels: true
                  },
                  axis:
                  {
                    x:
                      {
                        type: 'category',
                        categories:
                        [
                          <% stats.forEach(function(stat) { %>
                            '<%= stat._id %>',
                          <% }); %>
                        ]
                      }
                  },
                  legend:
                  {
                    position: 'right'
                  },
                  tooltip:
                  {
                    grouped: false
                  },
                }
              );
            </script>
          </div>
          <h2>Table</h2>
          <div>
            <table class="table table-hover">
              <tr>
                <th>Genre</th>
                <th>Count</th>
              </tr>
              <% stats.forEach(function(stat) {%>
                <tr>
                  <td>
                    <% if(stat._id.length == 0) { %>
                      Unbekannt
                    <% } else { %>
                      <%= stat._id %>
                    <% }; %>
                  </td>
                  <td>
                    <%= stat.count %>
                  </td>
                </tr>
              <% }); %>
            </table>
          </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
